@import url(http://fonts.googleapis.com/css?family=Lato:200,400);
h1,h2,p{font-family: 'Lato', sans-serif;}
h2{
font-size: 350%;
}

p {
    text-indent: 50px;
     line-height: 2.5em;
}

body{
  overflow-x: hidden;
  background-color: #f3f3f3;
}
/* - - - - - - - - */

.picture_align_left{
  position:absolute;
  top:50%;
  margin-top:-100px;
  margin-left: 100px;
  width:200px;
  height:200px;
}

.picture_align_right{
  position:absolute;
  top:50%;
  margin-top:-100px;
  right: 100px;
  width:200px;
  height:200px;
}


.panel_title{
  position:absolute;
  top:50%;
  font-size: 500%;
  font-weight: 200;
}
.panel_subtitle{
  position:absolute;
  top:50%;
  margin-top:0px;
  font-size: 350%;
  font-weight: 200;
}

.title_text_left{
  margin-top:-100px;
  margin-left:350px;
}

.title_text_right{
  margin-top:-100px;
  right:350px;
  text-align: right;
}

.subtitle_text_left{ margin-left: 350px; }

.subtitle_text_right{ right: 350px; }

.panel{
  color:#f3f3f3;
  position:absolute;
  left:-10px;
  width:calc(100% + 20px);
  height:40%;
  cursor: default;
}
.animatePanel{
  -webkit-transition: marign-left 1s;
  transition: margin-left 1s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

}

.animatePanel:hover {
    margin-left: 10px;
    -webkit-transition: marign-left 1s;
    transition: margin-left 1s;
}

#chevron{
  position:absolute;
  color:#e3e3e3;
  top:30%;
  right:20px;
  font-size: 700%;
  font-weight: 100;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  cursor: pointer;
}

#sectionText{
  position: absolute;
  top: 40%;
  margin-left: 25%;
  width:50%;
  margin-top: 20px;
  opacity: .0;
  -webkit-transition: marign-top .5s;
  transition: margin-top .5s;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#articleTitle{
  color:#000;
}
